@model IEnumerable<HammerAppMVC.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentLocation)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentNo }) |
        @Html.ActionLink("Details", "Details", new { id = item.DepartmentNo }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentNo })
    </td>
</tr>
}

</table>
